body {
    background-color: #ff9b05;
    font-family: "Poller One", serif;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
}

.container{
    background-color: #11100f;
    width: 600px;
    height: 85vh;
    opacity: 90%;
    border-radius: 25px;
    z-index: 2;
    margin-top: 20vh;
}

.container > h1{
    justify-content: center;
    display: flex;
    color: #ffff;
    margin-bottom: 3vh;
    font-size: 30px;
}


.container > input, button{
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.container > input{
    width: 50vh;
    font-family: "Poller One", serif;
    border-radius: 10px;
    padding: 5px;
    padding-left: 2vh;
    margin-top: 5px;
}

.container > button{
    width: 20vh;
    height: 5vh;
    border-radius: 40px;
    color: black;
    align-items: center;
    font-family: "Poller One", serif;
    margin-top: 5vh;
}

label{
    color: white;
    margin-left: 7vh;
}