*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

body {
    background-color: black;
    
  }
    
  form {
      display: flex;
      justify-content: center;
  }
  
  .container{
      background-color: #1A0C43;
      width: 180vh;
      height: 90vh;
      border-radius: 3vh;
      margin-top: 5vh;
  }
  
  .container > h1{ 
      justify-content: center;
      display: flex;
      color: #ffff;
      font-size: 8vh;
      margin-top: 3vh;
      margin-bottom: 8.5vh;
  }
  

  .inps > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh; 
    margin-bottom: 5vh;
}

.inps  input {
    width: 60vh; 
    margin-bottom: 5vh;
    padding: 2.1vh;
    background-color: black; 
    border: none;
    border-radius: 0.5vh;
    color: white;
    box-shadow: 5px 10px 15px 1px black;
}

.inps input::placeholder{
    font-size: 2vh;
    color: white;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    background-color: #4400B8;
    color: white;
    border: none;
    font-size: 2.5vh;
    border-radius: 2vh;
    width: 15vw;
    height: 8vh;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn button:active {
    transform: scale(0.98);
}


                                                 /*WebKits*/
.inps input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset !important; /* Cor de fundo preta */
    -webkit-text-fill-color: white !important; /* Cor do texto branca */
}

.inps input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px black inset !important; /* Cor de fundo preta ao focar */
    -webkit-text-fill-color: white !important; /* Cor do texto branca ao focar */
}

